* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-containr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
